<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>节操备忘录</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="shortcut icon" href="/favicon.ico?v=3">
    <style>
        [v-cloak] { display: none; }
    </style>
</head>
<body>
<section class="todoapp">
    <header class="header">
        <h1>节操备忘录</h1>
        <div style="text-align: center;" v-show="loading && !noExtension" v-cloak >正在加载 ...</div>
        <div style="text-align: center;" class="noExtension" v-show="noExtension" v-cloak>
            注意: 需先安装 <a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">WebExtensionWallet</a>  才能正常使用节操备忘录
        </div>
        <input v-show="!loading" class="new-todo"
        autofocus autocomplete="off"
        placeholder="要记录什么呢？"
        v-model="newTodo"
        @keyup.enter="addTodo" v-cloak>
    </header>
    <section v-if="!loading" class="main" v-show="todos.length" v-cloak>
        <input class="toggle-all" type="checkbox" v-model="allDone">
        <ul class="todo-list">
        <li v-for="todo in filteredTodos"
            class="todo"
            :key="todo.id"
            :class="{ completed: todo.completed, editing: todo == editedTodo }">
            <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.completed">
            <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
            <button class="destroy" @click="removeTodo(todo)"></button>
            </div>
            <input class="edit" type="text"
            v-model="todo.title"
            v-todo-focus="todo == editedTodo"
            @blur="doneEdit(todo)"
            @keyup.enter="doneEdit(todo)"
            @keyup.esc="cancelEdit(todo)">
        </li>
        </ul>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
        剩下 <strong>{{ remaining }}</strong> {{ remaining | pluralize }}
        </span>
        <ul class="filters">
        <li><a href="#/all" :class="{ selected: visibility == 'all' }">所有的</a></li>
        <li><a href="#/active" :class="{ selected: visibility == 'active' }">当前的</a></li>
        <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">完成的</a></li>
        </ul>
        <button class="clear-completed" style="padding-left: 10px;" @click="save">
        保存
        </button>
        <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
        清除完成的
        </button>
    </footer>
    </section>
    <footer class="info">
    <p>双击编辑项目</p>
    <div>
        Powered by <img src="https://nebulas.io/assets/images/nebulasx60.png" style="height: 20px;">
    </div>
    </footer>

    <script src=lib/nebPay.js></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script>
        var dappAddress = "n1ethAivDTfk8oErFKuhViejnEDAGGa64Cy";
        var uid = 0;
        var NebPay = require("nebpay");
        var nebPay = new NebPay();

        // visibility filters
        var filters = {
        all: function (todos) {
            return todos
        },
        active: function (todos) {
            return todos.filter(function (todo) {
            return !todo.completed
            })
        },
        completed: function (todos) {
            return todos.filter(function (todo) {
            return todo.completed
            })
        }
        }

        // app Vue instance
        var app = new Vue({
        // app initial state
        data: {
            todos: [],
            newTodo: '',
            editedTodo: null,
            visibility: 'all',
            loading: true,
            noExtension: false,
        },

        mounted() {
            var that = this
            setTimeout(function() {
                that.noExtension = typeof(webExtensionWallet) === "undefined"
            }, 5000)
        },

        created(){
            var to = dappAddress;
            var value = "0";
            var callFunction = "get";
            var that = this
            nebPay.simulateCall(to, value, callFunction, '[""]', {    //使用nebpay的simulateCall接口去执行get查询, 模拟执行.不发送交易,不上链
                listener(resp) {
                    var todos = JSON.parse(JSON.parse(resp.result))
                    todos.forEach(function (todo, index) {
                        todo.id = index
                    })
                    uid = todos.length
                    that.todos = todos
                    that.loading = false
                }
            });
        },

        // watch todos change for localStorage persistence
        watch: {
            todos: {
            handler: function (todos) {
            },
            deep: true
            }
        },

        // computed properties
        // http://vuejs.org/guide/computed.html
        computed: {
            filteredTodos: function () {
            return filters[this.visibility](this.todos)
            },
            remaining: function () {
            return filters.active(this.todos).length
            },
            allDone: {
            get: function () {
                return this.remaining === 0
            },
            set: function (value) {
                this.todos.forEach(function (todo) {
                todo.completed = value
                })
            }
            }
        },

        filters: {
            pluralize: function (n) {
            return n === 1 ? '项目' : '项目'
            }
        },

        // methods that implement data logic.
        // note there's no DOM manipulation here at all.
        methods: {
            addTodo: function () {
            var value = this.newTodo && this.newTodo.trim()
            if (!value) {
                return
            }
            this.todos.push({
                id: uid++,
                title: value,
                completed: false
            })
            this.newTodo = ''
            },

            removeTodo: function (todo) {
            this.todos.splice(this.todos.indexOf(todo), 1)
            },

            editTodo: function (todo) {
            this.beforeEditCache = todo.title
            this.editedTodo = todo
            },

            doneEdit: function (todo) {
            if (!this.editedTodo) {
                return
            }
            this.editedTodo = null
            todo.title = todo.title.trim()
            if (!todo.title) {
                this.removeTodo(todo)
            }
            },

            cancelEdit: function (todo) {
            this.editedTodo = null
            todo.title = this.beforeEditCache
            },

            removeCompleted: function () {
            this.todos = filters.active(this.todos)
            },

            save() {
                var to = dappAddress;
                var value = "0";
                var callFunction = "save"
                var callArgs = JSON.stringify([this.todos])

                nebPay.call(to, value, callFunction, callArgs, {    //使用nebpay的call接口去调用合约,
                    listener(resp) {
                        console.log(resp)
                    }
                });
            }
        },

        // a custom directive to wait for the DOM to be updated
        // before focusing on the input field.
        // http://vuejs.org/guide/custom-directive.html
        directives: {
            'todo-focus': function (el, binding) {
            if (binding.value) {
                el.focus()
            }
            }
        }
        })

        // handle routing
        function onHashChange () {
        var visibility = window.location.hash.replace(/#\/?/, '')
        if (filters[visibility]) {
            app.visibility = visibility
        } else {
            window.location.hash = ''
            app.visibility = 'all'
        }
        }

        window.addEventListener('hashchange', onHashChange)
        onHashChange()

        // mount
        app.$mount('.todoapp')

    </script>
</body>
</html>